@bg-color:#f6f8f8;
@red:#e74c3c;
@silver:#BDC3C7;

html {
	height: 100%;
}

body {
	padding:0px 10px;
	margin-left:auto;
	margin-right:auto;
	height: 100%;
	background-color: @bg-color;
	&.stop-scrolling {
	  overflow: hidden;
	}
}

a {
	text-decoration: none !important;
}


ul{
	padding:0px;
	margin:0px;
	li{
		margin-top:3px;
		list-style: none;
	}
}

#titleBar {
	background-color: #34495e;
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#ECF0F1;
	padding-left:10px;
	height: 210px;
	z-index: 1000;
	// & > div {
	// 	display: inline-block;
	// }
	.title {
		position: absolute;
		cursor: pointer;
		h1{
			.transition();
		}
		&:hover{
			h1 {
				.opacity(0.8);
				.transition();
			}
		}
	}
	.search {
		text-align: center;
		width:100%;
		input {
			width: 255px;
		}
	}
	.create {
		float:right;
		margin-right: 23px;
		margin-top: -45px;
	}

	
}

.jumbotron {
	margin: 40px 0;
	text-align: center;
	h1 {
		font-size: 72px;
		line-height: 1;
	}
	.btn {
		font-size: 21px;
		padding: 14px 24px;
	}
	hr {
		margin-top:50px;
		margin-bottom:20px;
	}
}

.input-prepend {
	display: inline-block;
	position: relative;
	.add-on {
		position: absolute;
		top:6px;
		z-index: 1;
		background-color: transparent;
		border: none;
		i {
			font-size:20px;
			color:#BDC3C7;
		}
	}
	input{
		padding-left:27px;
		&:focus{
			z-index: 0;
		}
	}
}

#_EMT-containter {
	margin-top:220px;
	#_player{
		margin-left: -10px;
		padding-left: 10px;
		width:100%;
	}
	#_EMT {
		margin-left:0px;
		&.affixed{
			margin-top:68px;
		}
	}
}

#players{
	&.min {
		iframe {
			width: 1px;
			height: 1px;
		}
	}
}

.btn {
	min-width:100px;
}

.modal {
	// color:white;
	// .close{
	// 	color:#fff;
	// }
	.modal-header {
		background-color: #eceff1;
		// border-bottom: none;
		// border-top:none;
		// .box-shadow(none);
	}
	.modal-body{
		background-color: #eceff1;
		// border-bottom: none;
	}
	.modal-footer{
		background-color: #BDC3C7;
	}
}

.clear {
	clear:both;
}

.loading {
	font-size:11px;
	color:#95A5A6;
}
