#mix_stage {
	.mix-tracks{
		height:250px;
		overflow: auto;
		li {
			cursor: pointer;
			padding: 2px 5px;
			font-size: 16px;
			&.active {
				background-color: #2980B9;
				color:#fff;
			}
			&:not(.active):hover{
				background-color: #3498DB;
			}
		}
	}
	#controls{
		vertical-align:top;
		padding:20px 0px;
		border-bottom:1px solid #34495E;
		margin-left: -10px;
		padding-left: 10px;
		&.affixed{
			position:fixed;
			top:210px;
			z-index: 1000;
			background-color: @bg-color;
			width: 100%;
			.right-control-buttons{
				padding-right:20px;
			}
			.title {
				display: none;
			}
			.by {
				display: none;
			}
			.mix-tracks {
				display: none;
			}
		}
		div.control-buttons {
			&.left-control-buttons{
				width:80px;
				float: left;
				div {
					i {
						font-size: 30px;
					}
					margin-right:15px;
					cursor: pointer;
					display: inline-block;
					&:hover {
						i {
							color:#1abc9c;
						}
					}
				}
			}
			&.right-control-buttons{
				width:33%;
				float: right;
				padding-left:15px;
			 	& > div > div {
			 		cursor: pointer;
					display: inline-block;
					margin-right:10px;
					i{
						font-size: 20px;
					}
					&:hover {
						i {
							color:#1abc9c;
						}
					}
				}
				.thumbs {
					width:60px;
					float:left;
				}
				.share-minimize {
					width:60px;
					float:right;
				}
				
			}
			
		}
		div.progress {
			margin: 7px 33% 0 80px;
			cursor: pointer;
			.bar{
				background-color: #34495e;
			}
			&:hover{
				.bar{
					background: #1abc9c;
				}
			}
		}
	}
}