div.mix {
	float:left;
	margin:10px 10px;
	.image{
		background-color: #2C3E50;
		width:160px;
		height:120px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position:center; 
	}
	.details {
		width:160px;
		font-size: 12px;
		overflow: hidden;
	}
}