{{#data}}
	<div id="mix_stage">
	 	<div class='collapse out'>
		 	{{#mix}}
				<h3>{{mixName}}</h3>
				<div>by <a href="#">{{userName}}</a></div>
			{{/mix}}

			<ul class='mix-tracks' >
				{{#tracks}}
					<li data-id="{{songId}}" data-url="{{url}}" data-type="{{type}}">{{title}}</li>
				{{/tracks}}
			</ul>
		</div>

		<div id='controls'>
			<div class='control-buttons left-control-buttons'>
				<div class='play-pause'><i class='icon-pause'/></div>
				<div class='next'><i class='icon-step-forward'/></div>
			</div>
			<div class='control-buttons right-control-buttons'>
				<div class='thumbs'>
					<div class=''><i class='icon-thumbs-up'/></div>
					<div class=''><i class='icon-thumbs-down'/></div>
				</div>
				<div class='share-minimize'>
					<div class=''><i class='icon-share'/></div>
					<div class='minimize'><i class='icon-double-angle-up'/></div>
				</div>
				<div class='volume'>
					<div class=''><i class='icon-volume-up'/></div>
				</div>
			</div>
			<div class="progress">
			  <div class="bar" style="width: 0%;"></div>
			</div>
		</div>
	</div>

	<script>
		EMT.trackList = JSON.parse('{{{mix_tracks_serialize.SerializedData}}}');
		var params = window.location.href.split('/');
		EMT.mixId = parseInt(params[params.length-2]);
		EMT.currentTrack = parseInt(params[params.length-1]);
		EMT.loadMix(EMT.currentTrack);
		$('#mix_stage .collapse').collapse();
	</script>
{{/data}}