<div id="signup" class='narrow'>
  <div class="jumbotron signup-buttons">
    <h4>Welcome to</h4>
    <h1>Resippy</h1>
    <p class="lead">We <span class='icon-heart'></span> Reciprocity</p>
    <hr>
    <div>Connect with</div>
    <br>
    
    <a class="btn btn-large btn-info" href="http://www.facebook.com/dialog/oauth/?client_id=447275615345245&redirect_uri=http://resippy.com/facebookSignUp/&scope=email,user_likes,user_birthday,publish_actions"><i class="icon-facebook signin-icon facebook"></i> Facebook</a>
    
    <a class="btn btn-large btn-info" href="#"><i class="icon-twitter signin-icon twitter"></i> Twitter</a>
    <hr>
    or, sign up with <a class='nav-link' href='/register'>your email address.</a>
    <hr>
    Already have an account? <a class='nav-link' href='/login'>Log in.</a>
  </div>
</div>
<br/>