<div class='welcome'>
	<h1>Everyone's Mixtape</h1>
	<div class='section clear most-played'>
		<h2>Most Played Today</h2>
		<div>
			<span class='loading'>Loading...</span>
		</div>
	</div>

	<div class='section clear most-collected'>
		<h2>Most Collected</h2>
		<div>
			<span class='loading'>Loading...</span>
		</div>
	</div>
</div>

<script>
	EMT.get('/most_collected', {}, function(data){
		$('.most-collected div').html(Mustache.render(data.payload.data.views.mixcard_collection, data.payload, data.payload.data.views))
		$('.most-collected .mixCard').popover({
			content:'Loading...',
			html:true,
			placement:EMT.mixCard.placement
		});
	});

	EMT.get('/most_played', {}, function(data){
		$('.most-played div').html(Mustache.render(data.payload.data.views.mixcard_collection, data.payload, data.payload.data.views))
		$('.most-played .mixCard').popover({
			content:'Loading...',
			html:true,
			placement:EMT.mixCard.placement
		});
	});
</script>
