<div class='welcome'>
	<div class='section clear most-played slide-container'>
		<h2>Most Played Today</h2>
		<div class = 'iosSlider'>
			<div class = 'slider'>
				<span class='loading'>Loading...</span>
			</div>
		</div>
	</div>

	<div class='section clear most-collected slide-container'>
		<h2>Most Collected</h2>
		<div class = 'iosSlider'>
			<div class = 'slider'>
				<span class='loading'>Loading...</span>
			</div>
		</div>
	</div>
</div>

<script>
	// $('.iosSlider').iosSlider({
	// 	snapToChildren: true,
	// 	desktopClickDrag: true,
	// 	keyboardControls: false,
	// 	onSlideStart: function(){
	// 		EMT.slideTransition = true
	// 		$('.mixCard').popover('hide').removeClass('hover')
	// 	},
	// 	onSlideComplete: function(){
	// 		EMT.slideTransition = false
	// 	}
	// });
	EMT.mostPlayed(true);
	EMT.mostCollected(true);
</script>
