<div class='mix' id='card_{{mixId}}' data-id='{{mixId}}'>
	<div class='image'></div>
	<div class='details'>
		<strong>{{mixName}}</strong>
		<div><a href="#">{{userName}}</a></div>
		{{#stats}}
			<div class='stats'>
				<div><i class='icon-star'/> {{collected}} collected</div>
				<div><i class='icon-play'/> {{plays}} plays</div>
			</div>
		{{/stats}}
	</div>
</div>


<script>
	{{#tracks}}
		var id =  EMT.YT.getCode('{{url}}');
		$("#card_{{mixId}} .image").css("background-image","url(http://i.ytimg.com/vi/"  + id + "/0.jpg)");
	{{/tracks}}
</script>

