<div id="register" class="narrow">
  <div class="signup-buttons">
    <h4 style='margin-bottom:40px;'>Create your account</h4>
    <div class="center signup-buttons row-fluid">
      <div class='icon-user span6'></div>
      <div class='span6'>
          <form class='login-form post-form' action='/post/register_account' method='POST'>
            <input type="hidden" name="nextAction" value="home"/>
            <input type="text" name='username' class="input-block-level" placeholder="Username">
            <input type="text" name='email' id='email' class="input-block-level" placeholder="Email">
            <input type="password"  name='password' id='password' class="input-block-level" placeholder="Password">
            <br><br>

            <input type="text" name='firstname' class="input-block-level" placeholder="First Name">
            <input type="text" name='lastname' class="input-block-level" placeholder="Last Name">
            
            <button class="btn btn-large btn-block">Create Account</button>
          </form>

<!-- 
          <form class='login-form post-form' action='post/logon' method='POST'>
            <input type="hidden" name="nextAction" value="home"/>
            <input type="email" class="input-block-level" id='email' placeholder="Email">
            <input type="password" class="input-block-level" id='password' placeholder="Password">
            <button class="btn btn-large btn-block">Login</button>
            <a href="#" class='muted pull-right'><small>Forgot your password?</small></a>
          </form> -->


      </div>
    </div>
  </div>
</div>

<script>
  // $("#register .post-form").submit(function(){
  //     var encodedData = $.base64.encode($("#email").val() + ":" + $("#password").val());
  //     $.cookie(RSPY.LOGIN_COOKIE, encodedData, { expires: 365, path: '/' })
  // });
</script>
