<div id="signup" class='narrow'>
  <div class="signup-buttons">
    <h4>Welcome to</h4>
    <h1>Mixstamatic</h1>

    <div>Connect with</div>
    <br>
    <a class="btn btn-large btn-info" href="http://www.facebook.com/dialog/oauth/?client_id=447275615345245&redirect_uri=http://resippy.com/facebookSignUp/&scope=email,user_likes,user_birthday,publish_actions"><i class="icon-facebook signin-icon facebook"></i> Facebook</a>
    <hr>
    or, sign up with <a class='registerBtn' href='/register'>your email address.</a>
    <hr>
    Already have an account? <a class='loginBtn' href='/login'>Log in.</a>
  </div>
</div>
<br/>